html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 90ch;
    padding: 1rem;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    margin: 1rem 0;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
    border-bottom: 3px solid;
}

h3 h4 {
    font-size: 1.25rem;
}

blockquote {
    font-style: italic;
    border-left: 3px solid;
    padding-left: 20px;
    margin-left: 15px;
}

footer {
    text-align: center;
    margin-top: 40px;
}

a {
    text-decoration: underline;
}

.subtitle {
    font-size: .9rem;
    font-style: italic;
}

.footnotes {
    font-size: .8rem;
    text-align: center;
}

.footnotes ol {
    display: inline-block;
    text-align: left;
}

#footnote-label {
    padding-top: 1em;
    padding: 0 2em;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: normal;
    display: inline-block;
    border-bottom: 1px solid;
}

.tags {
    text-align: center;
    font-size: 0.8rem;
}

.chart {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 80%;
}
