---
layout: ../../layouts/MarkdownPostLayout.astro
title: (title)
date: (date of publishing)
description: '(description of blogpost)'
tags: ["(tag-1)", "(tag-2)"]
---

(explanation of blogpost)

## (first point)

(etc.)