html {
    background-color: #FAF9F6;
    font-family: sans-serif;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}
h1, h2, h3, h4 {
    margin: 1rem 0;
    font-size: 2.5rem;
    color: #444;
}

footer {
    color: gray;
    text-align: center;
    margin-top: 40px;
}

a {
    color: #444;
    text-decoration: underline;
}

footer a {
    color: #494F55;
}

/*Style the internal navigation links*/
.navigation {
    display: inline-block;
    padding: 0px 50px;
}
.navigation a {
    color: #444;
    text-decoration: none;
    font-weight: bold;
}
.navigation a:hover {
    color: darkgray;
}

.subtitle {
    color: #444;
    font-size: .9rem;
}