---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<p>
            <a href="/">Home</a>
        </p>
        <p>
            <a href="/about/">About</a>
        </p>
        <p>
            <a href="/blog/">Blogposts</a>
        </p>
    
        <h1>About This Website</h1>

        <p>[website name] is a simple website I have built using Astro that serves as the hub for my blogposts and a collection of resources I find to be particularly useful. Its use may grow overtime so be on the lookout for changes.</p>

        <h2>Blogposts</h2>
            <p>Every once in a while I may write and publish a new blogpost regarding a variety of topics from politics, to sustainability, to self-fulfillment, to coding. Stay tuned for more info.</p>

        <h2>Resources</h2>
            <p>I am actively working on a collection of resources that I find useful to myself, and think others may also find useful. These resources may pertain to:</p>
            <ul>
                <li>Politics</li>
                <li>Philosophy</li>
                <li>Development</li>
                <li>Linux</li>
                <li>And many more!</li>
            </ul>
        <h2>Who Am I?</h2>
            <p>I'm a college student studing Anthropology and Feminist/Gender Studies. I consider myself to be a highly well rounded person, however, with interests in many fields from linguistics to web design to linux development to politics to philosohy.</p>
            <p>As a queer transgender person <em>(she/they pronouns)</em>, I'm naturally interested in many of these fields that have shaped my own personal identity and continue to shape my existence within society.</p>
            <p>My hopes for this website are to open your mind to other possibilities in life and for you to learn more. I hope everything included in this website encourages creativity and curiosity in its readers.</p>
        <h2>Links</h2>
            <p>
                <a href="https://github.com/Lunarnovaa">Github</a>
            </p>
    </body>
</html>
