---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About";
const pageDescription = "An explanation of my website.";
---
<BaseLayout pageTitle = {pageTitle} pageDescription = {pageDescription}>
        <p>[website name] is a simple website I have built using Astro that serves as the hub for my blogposts and a collection of resources I find to be particularly useful. Its use may grow overtime so be on the lookout for changes.</p>

        <h2>Blogposts</h2>
            <p>Every once in a while I may write and publish a new blogpost regarding a variety of topics from politics, to sustainability, to self-fulfillment, to coding. Stay tuned for more info.</p>

        <h2>Library</h2>
            <p>I am actively working on a collection of resources that I find useful to myself, and think others may also find useful. These resources may pertain to:</p>
            <ul>
                <li class="subjects">Politics</li>
                <li class="subjects">Philosophy</li>
                <li class="subjects">Development</li>
                <li class="subjects">Linux</li>
                <li class="subjects">And many more!</li>
            </ul>
        <h2>Who Am I?</h2>
            <p>I'm a college student studing Anthropology and Feminist/Gender Studies. I consider myself to be a highly well rounded person, however, with interests in many fields from linguistics to web design to linux development to politics to philosohy.</p>
            <p>As a queer transgender person <em>(she/they pronouns)</em>, I'm naturally interested in many of these fields that have shaped my own personal identity and continue to shape my existence within society.</p>
            <p>My hopes for this website are to open your mind to other possibilities in life and for you to learn more. I hope everything included in this website encourages creativity and curiosity in its readers.</p>
        <h2>Links</h2>
            <div>
                <a href="https://www.pictureofhotdog.com">A picture of a hotdog for your enjoyment</a>
            </div>
</BaseLayout>