---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "aurabora.org";
const pageDescription = "an explanation of my website.";
---
<BaseLayout pageTitle = {pageTitle} pageDescription = {pageDescription}>
        <p>aurabora.org is a simple website i have built using astro that serves as the hub for my blogposts and a collection of resources i find to be particularly useful. its use may grow overtime so be on the lookout for changes.</p>

        <h2>blogposts</h2>
            <p>every once in a while i may write and publish a new blogpost regarding a variety of topics from politics, to sustainability, to self-fulfillment, to coding. stay tuned for more info.</p>

        <h2>library</h2>
            <p>i am actively working on a collection of resources that i find useful to myself, and think others may also find useful. these resources may pertain to:</p>
            <ul>
                <li class="subjects">politics</li>
                <li class="subjects">philosophy</li>
                <li class="subjects">development</li>
                <li class="subjects">linux</li>
                <li class="subjects">and many more!</li>
            </ul>
        <h2>who am i?</h2>
            <p>i'm a college student studing anthropology and feminist/gender Studies. i consider myself to be a highly well rounded person, however, with interests in many fields from linguistics to web design to linux development to politics to philosohy.</p>
            <p>as a queer transgender person <em>(she/they pronouns)</em>, i'm naturally interested in many of these fields that have shaped my own personal identity and continue to shape my existence within society.</p>
            <p>my hopes for this website are to open your mind to other possibilities in life and for you to learn more. i hope everything included in this website encourages creativity and curiosity in its readers.</p>
        <h2>why don't you use capitals?</h2>
            <h3><a href="https://knowyourmeme.com/memes/stop-doing-math">STOP DOING CAPITALIZATION</a></h3>
            <ul>
                <li>WORDS ARE NOT SUPPOSED TO HAVE A BUMP AT THE BEGINNING</li>
                <li>YEARS OF CAPITALIZING yet NO REAL-WORLD BENEFIT FOUND for capitalizing individual LETTERS</li>
                <li>wanted to big letters big anyway for a laugh? we had a tool for that: it was called "CAPSLOCK"</li>
                <li>"I walked to Nebraska to buy hotdogs from Jim's Hotdogs" - statements dreamt up by the utterly DERANGED</li>
            </ul>
            <p>LOOK at what capitalizers have been demanding your RESPECT for all this time, with all the big letters & shift keys we built for them <strong>(this is REAL capitalization, done by REAL capitalizers)</strong></p>
            <blockquote>Idaho</blockquote>
            <p>?????</p>

            <blockquote>You and I</blockquote>
            <p>????!?!?!?!</p>

            <blockquote>Former President of the United States of America Joseph R. Biden and his wife</blockquote>
            <p>???????????????????</p>
            
            <q>"Hello I would like 'Washington D.C.' Please"</q>
            <p><strong>they have played us for absolute fools</strong></p>

            <p>
                more seriously though, i don't like how capitaization looks, aesthetically-speaking, and i consider it a part of my personal tone to not use theme c: i will use them in my blogposts because i intend for those to be a little more formal, but for aesthetic and personal-tone purposes, i won't use capitals anywhere else.
            </p>
            <h2>links</h2>
            <div>
                <a href="https://www.pictureofhotdog.com">a picture of a hotdog for your enjoyment</a>
            </div>
</BaseLayout>