---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "aurabora.org";
const pageDescription = "an explanation of my website.";
---
<BaseLayout pageTitle = {pageTitle} pageDescription = {pageDescription}>
        <p>aurabora.org is a simple website i have built using astro that serves as the hub for my blogposts and a collection of resources i find to be particularly useful. its use may grow overtime so be on the lookout for changes.</p>

        <h2>blogposts</h2>
            <p>every once in a while i may write and publish a new blogpost regarding a variety of topics from politics, to sustainability, to self-fulfillment, to coding. stay tuned for more info.</p>

        <h2>library</h2>
            <p>i am actively working on a collection of resources that i find useful to myself, and think others may also find useful. these resources may pertain to:</p>
            <ul>
                <li class="subjects">politics</li>
                <li class="subjects">philosophy</li>
                <li class="subjects">development</li>
                <li class="subjects">linux</li>
                <li class="subjects">and many more!</li>
            </ul>
        <h2>who am i?</h2>
            <p>i'm a college student studing anthropology and feminist/gender studies. i consider myself to be a highly well rounded person, however, with interests in many fields from linguistics to web design to linux development to politics to philosohy.</p>
            <p>as a queer transgender person <em>(she/they pronouns)</em>, i'm naturally interested in many of these fields that have shaped my own personal identity and continue to shape my existence within society.</p>
            <p>my hopes for this website are to open your mind to other possibilities in life and for you to learn more. i hope everything included in this website encourages creativity and curiosity in its readers.</p>
            <h2>links</h2>
            <div>
                <a href="https://www.pictureofhotdog.com">a picture of a hotdog for your enjoyment</a>
            </div>
</BaseLayout>