<footer>
    <div class="repo">this website was built using <a href="https://astro.build/">astro</a> from <a href="https://github.com/Lunarnovaa/aurabora.org">lunarnovaa/aurabora.org</a> with inspiration from <a href="https://ayats.org">ayats.org</a></div>
    <div class="social">learn more about my projects on <a href="https://github.com/Lunarnovaa">github</a> c:</div>
    <div class="rss"><a href="/rss.xml">rss</a></div>
</footer>