<footer>
    <div class="repo">This website was built using <a href="https://astro.build/">Astro</a> from <a href="https://github.com/Lunarnovaa/auraspeaks">lunarnovaa/auraspeaks</a> with inspiration from <a href="https://ayats.org">ayats.org</a></div>
    <div class="social">Learn more about my projects on <a href="https://github.com/Lunarnovaa">Github</a> c:</div>
</footer>