<div class="navigation">
    <a href="/">Home</a>
</div>
<div class="navigation">
    <a href="/about/">About</a>
</div>
<div class="navigation">
    <a href="/blog/">Blogposts</a>
</div>
<div class="navigation">
    <a href="/library/">Library</a>
</div>